.root {
  background-color: var(--white);
  width: min(90%, 600px);
  min-height: 25rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: solid 2px #6286c878;
  flex-direction: column;
}
.lockImg {
  font-size: 10rem;
  color: var(--primary);
  /* color: var(--black-150); */
}
.lockLabel {
  color: var(--black-100);
  font-size: 1rem;
}
.form {
  width: 100%;
  height: 100%;
}
.form h3 {
  font-size: 1.5rem;
  color: var(--black);
  text-align: center;
}
.btnLogin {
  min-width: 150px;
  color: var(--primary-150);
}
.container {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 384px) {
  .form {
    padding: 0 15%;
  }
}
@media (min-width: 576px) {
  /* Adjust styles for small screens (e.g., larger phones) */
  .root {
    flex-direction: row;
  }
  .lockImg {
    flex: 1;
    font-size: 12rem;
  }
  .form {
    flex: 2;
    padding: 0;
  }
  .form h3 {
    text-align: left;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Tablet styles */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Small laptops/desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Large desktops */
}

/* 2K and 4K screens (optional) */
@media (min-width: 1600px) {
  /* Ultra-wide monitors */
}
