.root {
  margin-bottom: 1rem;
}
.btn,
.deleteBtn {
  border-radius: 100px;
  border: none;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--bg-app);
  background-color: white;
  cursor: pointer;
}
.deleteBtn {
  color: maroon;
  font-size: 0.95rem;
}
