.cartQuickActions {
  padding: 1rem;
}
.sideAction {
  width: 48%;
  height: 45px;
  padding: 1.5rem 0;
  border-radius: 4px;
  background-color: var(--text-app);
  color: var(--text-default);
}

.sideAction:hover {
  transform: none;
  transition: none;
}

.sideAction:hover:not(.active) {
  background-color: var(--text-app);
  color: var(--text-default);
  transform: translateY(2px);
  transition: transform 0.5s, opacity 1s;
}
.orderDetails {
  padding: 1rem;
}
.orderDetails h4 {
  margin-bottom: 1rem;
}
.orderSummary {
  background-color: var(--bg-active);
  margin: 1rem;
  font-weight: 400;
  padding: 1rem;
  color: var(--text-active);
  font-size: 0.7rem;
  border-radius: 6px;
}

.nmbl {
  border-top: solid 1px #ccc;
  margin-top: 10px;
  padding-top: 5px;
}
.qtySelector {
  margin-top: 0.5rem;
}
.cartItem {
  border-bottom: solid 1px rgba(238, 238, 238, 0.196);
  margin-bottom: 1rem;
}
.cartItem p {
  font-size: 0.8rem;
  /* Limit to two lines with ellipsis */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px; /* Adjust width as needed */
  white-space: normal; /* Allow text to wrap */
  /* height: 3.2em;  */
}
.orderContent {
  height: 50vh;
  overflow: auto;
}
