/* Mobile view */

.orderContent {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  padding: 0 0.5rem;
  padding-bottom: 2rem;
  overflow-y: auto;
}

.orderContent::-webkit-scrollbarr {
  display: none; /* Chrome, Safari, Opera */
}

.orderContentContainer {
  overflow-y: auto; /* Ensure scrolling works */
  height: 80vh;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Adjust styles for small screens (e.g., larger phones) */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Tablet styles */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Small laptops/desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Large desktops */
}

/* 2K and 4K screens (optional) */
@media (min-width: 1600px) {
  /* Ultra-wide monitors */
}
