.root {
  width: calc(95% / 5);
  height: 200px;
  background-color: white;
  color: var(--bg-active);
  border-radius: 8px;
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
}

.root img {
  max-width: 60%;
}
.details {
  padding: 0.5rem;
  text-align: center;
}
.details label {
  font-weight: 600;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Adjust width as needed */
  white-space: normal; /* Allow text to wrap */
}
.price {
  font-size: 0.8rem;
  color: var(--bg-app);
  font-weight: 600;
}
.qtyLeft {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--bg-default);
  border-radius: 0 5px 0 8px;
  min-width: 35px;
  padding: 3px;
  aspect-ratio: 1/1;
  font-weight: 600;
  place-content: center;
  text-align: center;
}
