/* Mobile view */
.root {
  width: 280px;
}
img.productImg {
  width: 60px;
  object-fit: scale-down;
  border-radius: 6px;
}
.modalTop {
  background-color: rgb(255, 255, 255);
  color: var(--bg-app);
  border-radius: 8px 8px 0 0;
  padding: 0.5rem 1rem;
}
.itemName,
.itemDescription,
.lbl,
.lbl2 {
  font-size: 0.8rem;
}
.itemName {
  font-weight: 600;
}
.amount {
  font-size: 1rem;
  font-weight: 600;
}
.itemDescription {
  margin-top: 0.5rem;
}
.itemDescription h5 {
  margin: 0;
}
.modalBody {
  padding: 1.2rem 1rem 1rem 1rem;
}
.lbl,
.lbl2 {
  font-weight: 600;
  margin-top: 10px;
}
.lbl {
  margin-bottom: 10px;
}
.lbl2 {
  margin-top: 0;
}
.qtySelector {
  background-color: rgba(153, 153, 153, 0.033);
  border: solid 1px #9999994b;
  padding: 0.5rem;
  border-radius: 100px;
}

.item {
  font-size: 0.7rem;
  width: calc(96% / 2);
  border: solid 1px #9999994b;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.active {
  background-color: rgb(167, 231, 212);
  color: var(--bg-app);
  border: solid 2px rgb(51, 113, 95);
}
.totalContainer {
  padding: 1rem;
  background-color: #22293dad;
}
.btnWrapper {
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}
.btnAdd,
.btnCancel {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  min-width: 100px;
  font-size: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.btnCancel {
  background-color: var(--text-active);
}
.btnAdd {
  border: none;
  background-color: rgb(51, 113, 95);
  color: white;
}
.btnCancel:hover,
.btnAdd:hover {
  transform: scale(0.95);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Adjust styles for small screens (e.g., larger phones) */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Tablet styles */
  .root {
    width: 350px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Small laptops/desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Large desktops */
}

/* 2K and 4K screens (optional) */
@media (min-width: 1600px) {
  /* Ultra-wide monitors */
}
