/* Mobile view */
.root {
  height: 89vh;
  padding: 0 1rem;
}
.content {
  /* height: 88vh; */
  overflow-y: auto;
  padding-bottom: 0.5rem;
}
.sideMenu {
  display: none !important;
}
.content {
  flex: 10;
  /* justify-content: center; */
  padding-right: 0.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Adjust styles for small screens (e.g., larger phones) */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Tablet styles */
  .root {
    /* height: 100vh; */
  }
  .sideMenu {
    flex: 1;
    /* height: 90vh; */
    overflow-y: auto;
    padding: 0 1.2rem 0.5rem 0;
    display: block !important;
    overflow-x: hidden;
  }
  .menuItem {
    margin-bottom: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Small laptops/desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Large desktops */
}

/* 2K and 4K screens (optional) */
@media (min-width: 1600px) {
  /* Ultra-wide monitors */
}
